
.warna-hari{
    background-color: #317520;
}
.warna{
    background-color: #c0dbfa;
}
.warna-1{
    background-color: #86aad3;
}

.warna-minggu{
  background-color: red;
}
table, th, td {
  position: relative;
    border: 1px black ;
    /* z-index: -1; */
  }




  th, td {
    width: 1000px;
    padding: 5px;
    text-align: center;    
  }

  
/* TOLONG ATUR WARNA BUAT ISI TABEL */
  tr:nth-child(odd){background-color: #dbdbdb}
  tr:nth-child(even){background-color: #9ecc8d}


/* WARNA HARI */



th {
  
  background-color: #317520;
  color: white;

  width: 75px;
}

thead tr:nth-child(1) th { position: sticky; top: 0; z-index:50;}
thead tr:nth-child(2) th { position: sticky; top: 54.49px; z-index:50;} 


.warnainTH{
  background-color: #3b609b;
}

.warnainShift{
  background-color: #3b609b;
  color: white;
}

td{
  height: 88.5px;
  width: 75px;
  font-size: 18px;
}
  table.tampil {
    empty-cells: show;
  }

  .inlineTable {
    display: inline-block;
}

.floatTable{
  float: left;;
}
/* position dari sticky jadi static, kalo ga dirubah nanti baris actual bakal di atas form input actual */
.submitButton{
  position: static;
  top: 0; /* Don't forget this, required for the stickiness */
  z-index: 100;
}

.submitButtonWarnain{
  position: static;
  top: 0; /* Don't forget this, required for the stickiness */
  z-index: 100;
  background-color: #3b609b;
}

